.bento {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(8, 1fr);
  gap: 1.5em;
  grid-template-areas:
    'bl gr'
    'bl gr'
    'in gr'
    'in gr'
    'in gr'
    'in re'
    'iv iv'
    'iv iv';
}

.balance {
  grid-area: bl;
}

.income {
  grid-area: in;
}

.graph {
  grid-area: gr;
}

.recent {
  grid-area: re;
}

.investments {
  grid-area: iv;
}
