name: Vercel Backend Production Deployment

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_BACKEND_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_BACKEND_PROJECT_ID }}

on:
  push:
    branches:
      - main

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend # Change this to your NestJS app directory

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install Vercel CLI
        run: pnpm install --global vercel@latest

      - name: Install Prisma CLI
        run: pnpm install --global prisma@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      # - name: Copy vercel envs to .env
      #   run: cp .vercel/.env.production.local .env

      # - name: Run Prisma Migrations
      #   run: prisma migrate deploy # Ensure your Prisma CLI is set up correctly

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
